.color-picker-palette{
    position: absolute;
    z-index: 100;
    padding: 5px;
    border: 2px solid #FB9902;
    border-radius: 5%;
    background-color: #ffffff;
}
.color-picker-cover{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}